// Dynamic variables


// Layout
.footer {
  grid-area: footer;
  
  display: grid;
  grid-template-columns: auto minmax(auto, 1000px) auto;
  background-color: var(--grey);

  &__container {
    grid-column: 2;
    
    padding: var(--sm);
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
  &__icon {
    p {
      font-size: 30px;
      text-shadow: var(--shadow-accent);
      transition: all 100ms ease-in;

      &:hover {
        transform: translate(2px, 4px);
        text-shadow: 0 0 0 var(--grey);
      }
    }
  }
}