// Dynamic variables
.footer {
  &__info {
    --top: -28px;
  }
}

@media (min-width: 860px) {
  .footer {
    &__info {
      --top: -43px;
    }
  }
}

// Layout
.footer {
  grid-area: footer;
  
  display: grid;
  grid-template-columns: auto minmax(auto, 1000px) auto;
  background-color: var(--grey);

  &__container {
    grid-column: 2;
    
    padding: var(--sm);
    ul {
      display: flex;
      justify-content: space-between;
    }
  }
  &__info {
    position: absolute;
    top: var(--top);
    width: 200px;
    font-style: italic;
    font-size: 13px;
    opacity: 0;
    transition: opacity 250ms ease-in-out;
  }
  ul li:nth-child(1) .footer__info {
    left: 7px;
  }
  ul li:nth-child(2) .footer__info {
    left: -63px;
  }
  ul li:nth-child(3) .footer__info {
    left: -163px;
    text-align: right;
  }
  &__icon {
    position: relative;
    &:hover .footer__info {
      opacity: 1;
    }
    a p {
      font-size: 30px;
      text-shadow: var(--shadow-accent);
      transition: all 100ms ease-in;

      &:hover {
        transform: translate(2px, 4px);
        text-shadow: 0 0 0 var(--grey);
      }
    }
  }
}