// Dynamic variables
.searcher {
  .form__submit {
    --width: 39px;
  }
}
.word {
  &__title {
    --font-size: 45px;
  }
}

@media only screen and (min-width: 860px) {
  .searcher {
    .form__submit {
      --width: 59px;
    }
  }
  .word {
    &__title {
      --font-size: 60px;
    }
  }
}

.main {
  grid-area: main;
  align-self: start;
  justify-self: center;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    gap: var(--md);
    padding: var(--lg) 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.searcher {
  .form {
    &__box {
      display: flex;
      justify-content: space-between;
      border: var(--border-2);
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
    &__input {
      width: 95%;
      padding: var(--sm);
      text-align: left;
      color: var(--accent);

      &::placeholder {
        font-family: inherit;
        color: var(--accent);
        opacity: 1;
        text-align: left;
      }
    }
    &__submit {
      position: relative;
      top: -4px;
      width: var(--width);
      height: var(--width);
      background-color: var(--grey);
      border-radius: 50%;
      transition: all 200ms ease;
      box-shadow: var(--shadow-accent);

      &:hover {
        transform: translate(2px, 4px);
        box-shadow: 0 0 0 var(--grey);
      }
    }
    &__helptext {
      padding-top: var(--xsm);
      color: var(--grey-dark);
      font-size: 14px;
    }
  }
}

.word {
  width: 90%;
  margin-top: 40px;
  background-color: var(--whitish);
  border-radius: 15px;

  &__container {
    padding: var(--xmd);
    border-radius: 15px;
    box-shadow: var(--shadow-grey);
  }
  &__title {
    font-family: 'WindSong', cursive;
    font-size: var(--font-size);
    font-weight: 500;
    padding: var(--md) var(--md) var(--lg) var(--md);
    text-shadow: 1px 2px 3px var(--grey-dark);
  }
  &__phonetics {
    padding-left: var(--xmd);
    padding-bottom: var(--md);
    display: flex;
    gap: var(--xlg);

    .container {
      display: flex;
      gap: var(--xsm);
    }
    em {
      color: var(--grey-dark);
      font-style: italic;
    }
    span {
      margin-left: var(--md);
      font-size: 25px;
      cursor: pointer;
      text-shadow: var(--shadow-accent);
      transition: all 200ms ease;

      &:active {
        transform: translate(2px, 4px);
        text-shadow: 0 0 0 var(--grey);
      }
    }
    &__audio {
      display: none;
    }
  }
}

.meaning {
  margin-top: var(--sm);
  padding-left: var(--xmd);

  &__title {
    font-size: 20px;
    font-weight: 700;
  }
  &__text {
    color: var(--grey-dark);
    li {
      margin-top: var(--xsm);
      margin-left: var(--lg);
      padding-left: var(--xsm);
    }
  }
  & + .meaning {
    margin-top: var(--lg);
  }
}

.synonyms {
  padding-left: var(--sm);
  padding-bottom: var(--sm);

  p {
    padding-top: var(--sm);
    font-style: italic;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: var(--md);

    padding: var(--sm);
    margin-top: var(--sm);
    border: 2px solid var(--grey);
    border-radius: var(--br-1);
  }
}

.empty {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  padding: var(--sm) var(--xmd);
  margin: var(--md);
  border: 2px dashed var(--grey);
  border-radius: 3px;

  // &__text {  }
  &__arrow {
    font-size: 35px;
    color: var(--accent);
    transition: transform 250ms ease-in-out;

    &:hover {
      transform: rotate(-15deg) translate(25px, -10px);
      ;
    }
  }
}

.images {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: var(--xsm);

  margin-top: var(--lg);
  padding: var(--md);
  border-radius: var(--br-2);
  background-color: var(--grey);

  .image__container {
    position: relative;
    width: 100%;
    max-width: 300px;
  }
  img {
    width: 100%;
    height: auto;
    border-radius: var(--br-1);
  }
  .image__author {
    position: absolute;
    top: 10px;
    left: 10px;

    padding: 2px 6px;
    border-radius: var(--br-1);
    background-color: var(--whitish);
    opacity: 0.6;
    color: var(--dark-grey);
    font-style: italic;
    font-size: 11px;
  }
}